Q1. Create a list in python using the followings: 2,3,4,5,6,7 with variable ‘a’

Add ‘mango to the above list

Also add banana, grapes & orange in the list 

insert apple in the 5th position of a variable ‘a’

Remove last item from the list

In [10]:
a = [2,3,4,5,6,7]

a.append('mango')

a.extend(['banana','grapes','orange'])

a.insert(4,'apple')

In [11]:
a

[2, 3, 4, 5, 'apple', 6, 7, 'mango', 'banana', 'grapes', 'orange']

In [12]:
a.pop()

'orange'

Q2.

L = [1,2,3,4,5,6,7]

Using the above list slice from 1:4

In [14]:
L = [1,2,3,4,5,6,7]
L[1:4]

[2, 3, 4]

Q3. Reverse the order of given string L = [4,5,6,8,3] Without using reverse() function.

In [16]:
L = [4,5,6,8,3]
L.reverse()

In [17]:
L

[3, 8, 6, 5, 4]

Q4.Use list comprehension to square the given list L=[2,4,7,3,6,8]

In [21]:
L=[2,4,7,3,6,8]

squre = [x**2 for x in L]

print(squre)

[4, 16, 49, 9, 36, 64]

Q5.Create a function that takes in a tuple of integers and returns the sum of the integers. Test the function with a tuple of your choice.

In [22]:
def sum_tuple_integer(t):
    
    return sum(t)

t = (1,2,3,4,5)

print(sum_tuple_integer(t))

15

Q6. Create two sets of your favourite fruits, and use the union() method to combine them into a single set. Print the resulting set to the console

In [23]:
fruits1 = {"apple", "banana", "pear"}

fruits2 = {"orange", "grape", "kiwi"}

combined_fruits = fruits1.union(fruits2)

print(combined_fruits)

{'pear', 'apple', 'grape', 'banana', 'kiwi', 'orange'}

Q7. Create a set of random words, and use the add() method to add a new word to the set. Print the resulting set to the console.

In [24]:
words = {"hello", "world", "python"}

words.add("programming")

print(words)

{'world', 'hello', 'programming', 'python'}

Q8. Create a set of your favourite animals, and use the remove() method to remove one animal from the set. Print the resulting set to the console

In [25]:
animals = {"dog", "cat", "hamster", "parrot"}

animals.remove("cat")

print(animals)

{'parrot', 'dog', 'hamster'}

Q9.favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"} favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"] Use the zip() function to combine the book set and movie list into a list of tuples representing book/movie pairs. Print the resulting list.

In [26]:
favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"} 

favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]

book_movie_pair = list(zip(favorite_books,favorite_movies))

print(book_movie_pair)

[('Pride and Prejudice', 'The Shawshank Redemption'), ('To Kill a Mockingbird', 'The Godfather'), ('1984', 'The Dark Knight')]

Q10. Write a Python program to find the difference between consecutive numbers in a list

In [30]:
def find_diff_consecutive_numbers(lst):

    diffs = []

    for i in range(1, len(lst)):

        diff = lst[i] - lst[i-1]

        diffs.append(diff)

    return diffs

my_list = [5, 9, 12, 18, 22]

diffs = find_diff_consecutive_numbers(my_list)

print(diffs)

[4, 3, 6, 4]