In [1]:
list=[12,34,55,'manish',True,False,5+6j]
list

[12, 34, 55, 'manish', True, False, (5+6j)]

In [2]:
type(list)

list

In [3]:
list[:2]#slicing

[12, 34]

In [4]:
list[0:1]

[12]

In [5]:
list[6]

(5+6j)

In [6]:
list[-1]

(5+6j)

In [7]:
list[::-1]

[(5+6j), False, True, 'manish', 55, 34, 12]

In [8]:
list[::2]

[12, 55, True, (5+6j)]

In [9]:
str='hello'
str

'hello'

In [10]:
lis=[3,4,5]
lis

[3, 4, 5]

In [11]:
list+lis

[12, 34, 55, 'manish', True, False, (5+6j), 3, 4, 5]

In [12]:
lis*3

[3, 4, 5, 3, 4, 5, 3, 4, 5]

In [13]:
len(list)

7

In [14]:
list.append(5)

In [15]:
list

[12, 34, 55, 'manish', True, False, (5+6j), 5]

In [16]:
list.append(str)

In [17]:
list

[12, 34, 55, 'manish', True, False, (5+6j), 5, 'hello']

In [18]:
list

[12, 34, 55, 'manish', True, False, (5+6j), 5, 'hello']

In [19]:
lis

[3, 4, 5]

In [20]:
list.append(lis)

In [21]:
list

[12, 34, 55, 'manish', True, False, (5+6j), 5, 'hello', [3, 4, 5]]

In [22]:
list[::-1]

[[3, 4, 5], 'hello', 5, (5+6j), False, True, 'manish', 55, 34, 12]

In [23]:
list[-1]

[3, 4, 5]

In [24]:
list[-1][1]

4

In [25]:
list

[12, 34, 55, 'manish', True, False, (5+6j), 5, 'hello', [3, 4, 5]]

In [26]:
list.extend("manish")

In [27]:
list

[12,
 34,
 55,
 'manish',
 True,
 False,
 (5+6j),
 5,
 'hello',
 [3, 4, 5],
 'm',
 'a',
 'n',
 'i',
 's',
 'h']

In [28]:
list.extend([3,4,5])

In [29]:
list

[12,
 34,
 55,
 'manish',
 True,
 False,
 (5+6j),
 5,
 'hello',
 [3, 4, 5],
 'm',
 'a',
 'n',
 'i',
 's',
 'h',
 3,
 4,
 5]

In [30]:
lis

[3, 4, 5]

In [31]:
lis.insert(1,"manish kumar")

In [32]:
lis

[3, 'manish kumar', 4, 5]

In [33]:
lis.insert(-1,56)

In [34]:
lis

[3, 'manish kumar', 4, 56, 5]

In [35]:
lis.insert(0,56)
lis

[56, 3, 'manish kumar', 4, 56, 5]

In [36]:
lis.pop()

5

In [37]:
lis

[56, 3, 'manish kumar', 4, 56]

In [38]:
lis.pop()

56

In [39]:
lis

[56, 3, 'manish kumar', 4]

In [40]:
lis.pop(3)

4

In [41]:
lis

[56, 3, 'manish kumar']

In [42]:
lis

[56, 3, 'manish kumar']

In [43]:
lis.remove(3)

In [44]:
lis

[56, 'manish kumar']

In [45]:
list

[12,
 34,
 55,
 'manish',
 True,
 False,
 (5+6j),
 5,
 'hello',
 [56, 'manish kumar'],
 'm',
 'a',
 'n',
 'i',
 's',
 'h',
 3,
 4,
 5]

In [46]:
list[9].remove(56)

In [47]:
list

[12,
 34,
 55,
 'manish',
 True,
 False,
 (5+6j),
 5,
 'hello',
 ['manish kumar'],
 'm',
 'a',
 'n',
 'i',
 's',
 'h',
 3,
 4,
 5]

In [48]:
list=[12,34,55,'manish',True,False,5+6j]
list

[12, 34, 55, 'manish', True, False, (5+6j)]

In [49]:
list[::-1]

[(5+6j), False, True, 'manish', 55, 34, 12]

In [50]:
list.reverse()

In [51]:
list

[(5+6j), False, True, 'manish', 55, 34, 12]

In [52]:
l1=[3,3,1,2,6,323,78,5,6,7,8,9]

In [53]:
l1

[3, 3, 1, 2, 6, 323, 78, 5, 6, 7, 8, 9]

In [54]:
l1.sort()

In [55]:
l1

[1, 2, 3, 3, 5, 6, 6, 7, 8, 9, 78, 323]

In [56]:
l2=["pwskills",'manish'"kushwaha","suibg"]

In [57]:
l2

['pwskills', 'manishkushwaha', 'suibg']

In [58]:
l2.sort()

In [59]:
l2

['manishkushwaha', 'pwskills', 'suibg']

In [60]:
l2.index("suibg")

2

In [61]:
l2.count("manish")

0

In [62]:
str="strut"

In [63]:
l4=[3,4,5,6]

In [64]:
str[0]='s'

TypeError: 'str' object does not support item assignment

In [65]:
l4[0]=34

In [66]:
l4

[34, 4, 5, 6]

In [67]:
t=(12,34,55,'manish',True,False,5+6j)
t

(12, 34, 55, 'manish', True, False, (5+6j))

In [68]:
type(t)

tuple

In [69]:
len(t)

7

In [70]:
t[0]

12

In [71]:
t[-1]

(5+6j)

In [72]:
t[::-1]

((5+6j), False, True, 'manish', 55, 34, 12)

In [73]:
s1={}
s1

{}

In [74]:
type(s1)

dict

In [75]:
s2={2,3,4,5,6}

In [76]:
type(s2)

set

In [77]:
num1= 23

num2= 44

num2= 2+3j

num1= num2.imag

num2-num1

(-1+3j)

In [78]:
'pwskills'.upper().lower().isalnum()

True

In [79]:
Name = 'pwskills'

Name[0] = 'P'

TypeError: 'str' object does not support item assignment

In [80]:
s='str'
d='str'
s+d

'strstr'

In [81]:
 True/ False

ZeroDivisionError: division by zero

In [82]:
num1= 23

num2= 44

num2= 2+3j

num1= num2.imag

num2-num1

(-1+3j)

In [83]:
x = 5

if x > 10:

    print("x is greater than 10")

else:

    print("x is not greater than 10")

x is not greater than 10

In [84]:
for i in range(1, 5):

    print(i)

1
2
3
4

In [85]:
i = 0

while i < 5:

    print(i)

    i += 1

0
1
2
3
4

In [86]:
d={}

In [87]:
d

{}

In [88]:
type(d)

dict

In [89]:
d1={"key":"manish"}
d1

{'key': 'manish'}

In [90]:
d2={"Name":"manish","email":"manmis1233@gamil.com",'number':2255555}
d2

{'Name': 'manish', 'email': 'manmis1233@gamil.com', 'number': 2255555}

In [91]:
d3={234:'manish',"r_user":"kumar"}
d3

{234: 'manish', 'r_user': 'kumar'}

In [92]:
d3={234:'manish',"r_user":"kumar",True:25552}
d3

{234: 'manish', 'r_user': 'kumar', True: 25552}

In [93]:
d3["r_user"]

'kumar'

In [94]:
d3[234]

'manish'

In [95]:
d3[True]

25552

In [96]:
d3[1]

25552

In [97]:
d4={'name':"manish","mail_id":'manishkushwaha1222002@gmail.com','name':"manish"}
d4

{'name': 'manish', 'mail_id': 'manishkushwaha1222002@gmail.com'}

In [98]:
d4['name']

'manish'

In [99]:
d5={"comp":"kushwaha","course":['math',"web dev",'data science']}
d5

{'comp': 'kushwaha', 'course': ['math', 'web dev', 'data science']}

In [100]:
d5['course']

['math', 'web dev', 'data science']

In [101]:
d5['course'][2]

'data science'

In [102]:
d6={"number":[1,2,34,56,78,54],"assignment":(1,2,3,4,5,6),"course launch_date":{21,31,28},
   "class_time":{"web dev":8,"dsm":9,"java":9}}

In [103]:
d6

{'number': [1, 2, 34, 56, 78, 54],
 'assignment': (1, 2, 3, 4, 5, 6),
 'course launch_date': {21, 28, 31},
 'class_time': {'web dev': 8, 'dsm': 9, 'java': 9}}

In [104]:
d6["class_time"]

{'web dev': 8, 'dsm': 9, 'java': 9}

In [105]:
d6["class_time"]["java"]

9

In [106]:
d6

{'number': [1, 2, 34, 56, 78, 54],
 'assignment': (1, 2, 3, 4, 5, 6),
 'course launch_date': {21, 28, 31},
 'class_time': {'web dev': 8, 'dsm': 9, 'java': 9}}

In [107]:
d6['mantor']=["subh",'krish','manish','raj']

In [108]:
d6

{'number': [1, 2, 34, 56, 78, 54],
 'assignment': (1, 2, 3, 4, 5, 6),
 'course launch_date': {21, 28, 31},
 'class_time': {'web dev': 8, 'dsm': 9, 'java': 9},
 'mantor': ['subh', 'krish', 'manish', 'raj']}

In [109]:
del d6["number"]

In [110]:
d6

{'assignment': (1, 2, 3, 4, 5, 6),
 'course launch_date': {21, 28, 31},
 'class_time': {'web dev': 8, 'dsm': 9, 'java': 9},
 'mantor': ['subh', 'krish', 'manish', 'raj']}

In [111]:
d6.keys()

dict_keys(['assignment', 'course launch_date', 'class_time', 'mantor'])

In [112]:
list(d6.keys())

TypeError: 'list' object is not callable

In [113]:
list[d6.values()]

TypeError: list indices must be integers or slices, not dict_values

In [114]:
d6.items()

dict_items([('assignment', (1, 2, 3, 4, 5, 6)), ('course launch_date', {28, 21, 31}), ('class_time', {'web dev': 8, 'dsm': 9, 'java': 9}), ('mantor', ['subh', 'krish', 'manish', 'raj'])])

In [115]:
list(d6.items())

TypeError: 'list' object is not callable

In [116]:
d6.pop("assignment")

(1, 2, 3, 4, 5, 6)

In [117]:
d6

{'course launch_date': {21, 28, 31},
 'class_time': {'web dev': 8, 'dsm': 9, 'java': 9},
 'mantor': ['subh', 'krish', 'manish', 'raj']}

In [118]:
d6.pop()

TypeError: pop expected at least 1 argument, got 0

In [120]:
marks=int(input("enter the number:"))
if marks>=80:
    print("you will be a part of A0 batch")
elif marks>=60 and marks < 80:
    print("you will be a part of A1 batch")
    
elif marks>=40 and marks <60:
    print("you will be a part of A2 batch")
    
else:
    print("you will be a part of A3 batch")

enter the number:25
you will be a part of A3 batch

In [121]:
price=int(input("enter the price:"))

if price>1000:
    print("i will not purchase")
else:
    print("i will purchase")

enter the price:548
i will purchase

In [122]:
price=int(input("enter the price:"))

if price>1000:
    print("i will not purchase")
    if price>5000:
        print("this is too much")
    elif price<2000:
        print("its ok")
        
elif price <1000:
    print("i will purchase")
    print("i will not purchase")
    if price>5000:
        print("this is too much")
    elif price<2000:
        print("its ok")
else:
    print("not interested")
    print("i will purchase")
     
    if price>5000:
        print("this is too much")
    elif price<2000:
        print("its ok")

enter the price:54
i will purchase
i will not purchase
its ok

In [123]:
list=[1,2,3,4,5,6,7,8]
list

[1, 2, 3, 4, 5, 6, 7, 8]

In [124]:
list[0]+1

2

In [125]:
list1=[]

In [126]:
list1.append(list[0]+1)

In [127]:
list1

[2]

In [128]:
list=[1,2,3,4,5,6,7,8]

In [129]:
for i in list:
    print(i)

1
2
3
4
5
6
7
8

In [130]:
l1=[]
for i in list:
    print(i+1)
    l1.append(i)

2
3
4
5
6
7
8
9

In [131]:
l2=["manish","sakshi","pwskills","course"]

In [132]:
for i in l2:
    print(i)

manish
sakshi
pwskills
course

In [133]:
l=[]
for i in l2:
    print(i)
    l.append(i.upper())

manish
sakshi
pwskills
course

In [134]:
l

['MANISH', 'SAKSHI', 'PWSKILLS', 'COURSE']

In [135]:
list2=[1,2,3,4,4,"manish",'kumar',324,434,'abc']

In [136]:
l1_num=[]
l2_str=[]
for i in list2:
    if type(i)== int or type(i)==float:
        l1_num.append(i)
    else:
        l2_str.append(i)

In [137]:
l1_num

[1, 2, 3, 4, 4, 324, 434]

In [138]:
l2_str

['manish', 'kumar', 'abc']

In [139]:
l = [1,2,3,4,5]
l1 = ["sudh" ,"kumar" , "krish" ,"naik"]

In [140]:
for i in l :
    print(i , type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>

In [141]:
for i in l1:
    print(i)

sudh
kumar
krish
naik

In [142]:
for i in l1 : 
    print(i)
else :
    print("if for loop is able to complete itself then only else will execute")

sudh
kumar
krish
naik
if for loop is able to complete itself then only else will execute

In [143]:
l1

['sudh', 'kumar', 'krish', 'naik']

In [144]:
for i in l1:
    if i == "kumar":
        break
    print(i)

sudh

In [145]:
l1

['sudh', 'kumar', 'krish', 'naik']

In [146]:
l1

['sudh', 'kumar', 'krish', 'naik']

In [147]:
for i in l1:
    if i == "kumar":
        break 
    print(i)
else :
    print("execute this if for loop is able to complete itself")

sudh

In [148]:
for i in l1:
    if i == "kumar":
        continue 
    print(i)
else :
    print("execute this if for loop is able to complete itself")

sudh
krish
naik
execute this if for loop is able to complete itself

In [149]:
list(range(5))

TypeError: 'list' object is not callable

In [150]:
list(range(0,5,1))

TypeError: 'list' object is not callable

In [151]:


True or False and True

True

In [152]:
not(True) or False and True

False

In [153]:
False or False and not(True)

False

In [154]:
string = "p w s k i l l s"

join(string.replace(" ", "")

SyntaxError: unexpected EOF while parsing (2375353798.py, line 3)

In [155]:
"pwskills"[::-1].upper().replace("SLLIKSWP", "pwskills").islower()

True

In [156]:
s = "I want to become a data scientist"

for i in s.split():

    i.capitalize()

    print(i.title())

I
Want
To
Become
A
Data
Scientist

In [157]:
'pwskills'[0]='P'

TypeError: 'str' object does not support item assignment

In [158]:
a=1

while a<=10:
    print(a)
    a=a+1

1
2
3
4
5
6
7
8
9
10

In [159]:
# sum of number till some point

n=int(input("enter your limit:"))
a=0 # starting point
counter=1
while counter <=n:
    a=a+counter
    counter+=1
a

enter your limit:5

15

In [160]:
n=int(input("enter your no:"))

factorial=1

while n>0:
    factorial=factorial*n
    n=n-1
factorial

enter your no:5

120

In [161]:
# fibonaci series 

n=int(input("enter the number:"))
a=0
b=1
counter=0
while counter<n:
    print(a)
    c=a+b
    a=b
    b=c
    counter=counter+1

enter the number:5
0
1
1
2
3

In [162]:
a,b=0,1
for i in range(10):
    print(a)
    c=a+b
    a=b
    b=c

0
1
1
2
3
5
8
13
21
34

In [163]:
str="manish"
str[::-1]

'hsinam'

In [164]:
word=input("enter your string for reversal:")

enter your string for reversal:manish

In [165]:
revers=""
length=len(word)

while length>0:
    revers=revers+word[length-1]
    length=length-1
print(revers)

hsinam

In [166]:
n=int(input("enter the  number"))
i=1

while i<=10:
    result=n*i
    print(n,"*",i,"=",result)
    i=i+1

enter the  number54
54 * 1 = 54
54 * 2 = 108
54 * 3 = 162
54 * 4 = 216
54 * 5 = 270
54 * 6 = 324
54 * 7 = 378
54 * 8 = 432
54 * 9 = 486
54 * 10 = 540

In [167]:
n=5
i=1

while i<n:
    print(i)
    i=i+1
else:
    print("this will be execute once your while will complete is succesfully")

1
2
3
4
this will be execute once your while will complete is succesfully

In [168]:
n=5
i=1

while i<n:
    print(i)
    if i==3:
        break
    i=i+1
else:
    print("this will be execute once your while will complete is succesfully")

1
2
3

In [169]:
list=[1,2,3,4,5,6]
list1=[]

for i in list:
    list1.append(i**2)
list1

[1, 4, 9, 16, 25, 36]

In [170]:
list

[1, 2, 3, 4, 5, 6]

In [171]:
[i**2 for i in list]

[1, 4, 9, 16, 25, 36]

In [172]:
[i for i in list if i %2==0]

[2, 4, 6]

In [173]:
list3=["manish","pwskills","kumar","data science master"]

In [174]:
[i.upper() for i in list3]

['MANISH', 'PWSKILLS', 'KUMAR', 'DATA SCIENCE MASTER']

In [175]:
(i**2 for i in list)

In [176]:
list

[1, 2, 3, 4, 5, 6]

In [177]:
list(i**2 for i in list)

TypeError: 'list' object is not callable

In [178]:
d = {"key1" :1 , "key2" :2 , "key3":3 ,"key4" :4}
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3), ('key4', 4)])

In [179]:
{k:v**2 for k,v in d.items()}

{'key1': 1, 'key2': 4, 'key3': 9, 'key4': 16}

In [180]:
{k : v for k , v in d.items() if v > 1 }

{'key2': 2, 'key3': 3, 'key4': 4}

# function

In [181]:
print("this is my print")

this is my print

In [182]:
list=[233,543,566,544]

In [183]:
len(list)

4

In [184]:
type(list)

list

In [185]:
def test():
    pass

In [186]:
def test():
    print("this is my first function")

In [187]:
test()

this is my first function

In [188]:
test()+"manish"

this is my first function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [189]:
def test2():
    return "this is my very first "

In [190]:
test2()

'this is my very first '

In [191]:
test2()+ "project"

'this is my very first project'

In [192]:
def test3():
    return "manish",23,3,43,45,34,[1,2,3,4]

In [193]:
test3()

('manish', 23, 3, 43, 45, 34, [1, 2, 3, 4])

In [194]:
a,b,c,d,e,f,g=test3()

In [195]:
a

'manish'

In [196]:
b

23

In [197]:
c

3

In [198]:
d

43

In [199]:
e

45

In [200]:
f

34

In [201]:
g

[1, 2, 3, 4]

In [202]:
def test4():
    a=1,2,3,4
    return a

In [203]:
test4()

(1, 2, 3, 4)

In [204]:
def test(a,b,c):
    d=a*b/c
    return d

In [205]:
test(23,45,65)

15.923076923076923

In [206]:
def test(a,b):
    return a+b
test(12,23)

35

In [207]:
test("manish" , "_kuamr")

'manish_kuamr'

In [231]:
l = [1,2,3,4,"sudh" , "kumar" ,[1,2,3,4,5,6]]

In [232]:
l2=[]
for i in l:
    if type(i)==int or type(i)== float:
        l2.append(i) 
print(l2)

[1, 2, 3, 4]

In [1]:
l = [1,2,3,4,"sudh" , "kumar" ,[1,2,3,4,5,6]]

In [2]:
def test7(l):
    l1 = []
    for i in l :
        if type(i) == int or type(i) == float :
            l1.append(i)
    return l1
test7(l)

[1, 2, 3, 4]

In [3]:
l

[1, 2, 3, 4, 'sudh', 'kumar', [1, 2, 3, 4, 5, 6]]

In [4]:
def test8(a) : 
    l= []
    for i in a :
        if type(i) == list:
            for j in i :
                l.append(j)
        else :
            if type(i) == int or type(i) == float :
                l.append(i)
    return l

In [5]:
test8(l)

[1, 2, 3, 4, 1, 2, 3, 4, 5, 6]

In [17]:
def test8(a) : 
    l= []
    for i in a :
        if type(i) == str:
                l.append(i)
        
    return l

In [18]:
test8(l)

['sudh', 'kumar']

In [20]:
def test9(a) :
    """ this is my function to extract num dtat from list"""
    l= []
    for i in a :
        if type(i) == list:
            for j in i :
                l.append(j)
        else :
            if type(i) == int or type(i) == float :
                l.append(i)
    return l

In [23]:
test9(l)

[1, 2, 3, 4, 1, 2, 3, 4, 5, 6]

In [24]:
def test10(a,b):
    return a+b

In [25]:
def test11(*args):
    return args

In [27]:
type(test11())

tuple

In [28]:
test11(1,2,3)

(1, 2, 3)

In [29]:
test11(1,2,3,"sudh" , "kumar" , [1,2,3,4,4])

(1, 2, 3, 'sudh', 'kumar', [1, 2, 3, 4, 4])

In [30]:
def test12(*sudh):
    return sudh

In [31]:
test12(1,2,34,4)

(1, 2, 34, 4)

In [32]:
def test13(*args , a) :
    return args , a

In [33]:
test13(1,2,3,4)

TypeError: test13() missing 1 required keyword-only argument: 'a'

In [34]:
test13(1,2,3,4 , a = 23)

((1, 2, 3, 4), 23)

In [35]:
def test14(c,d,a = 23 , b = 1 ):
    return a,b,c,d

In [36]:
test14()

TypeError: test14() missing 2 required positional arguments: 'c' and 'd'

In [37]:
test14(3,4)

(23, 1, 3, 4)

In [38]:
test14(2,5 , a = 2342)

(2342, 1, 2, 5)

In [39]:
def test15(**kwargs):
    return kwargs

In [40]:
test15()

{}

In [41]:
type(test15())

dict

In [42]:
test15(a = [1,2,3,4] , b = "sudh" , c = 23.45 )

{'a': [1, 2, 3, 4], 'b': 'sudh', 'c': 23.45}

In [49]:
numbers = [1, 2, 3, 4, 5]

even_numbers = filter(lambda x: x%2 == 0, numbers)

print(list(even_numbers))

[2, 4]

In [50]:
from functools import reduce

numbers = [1, 2, 3, 4, 5]

product = reduce(lambda x, y: x*y, numbers)

print(product)

120

In [51]:
numbers = [1, 2, 3, 4, 5]

squared_numbers = map(lambda x: x**2, numbers)

print(list(squared_numbers))

[1, 4, 9, 16, 25]

In [1]:
range(10)

range(0, 10)

In [2]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [3]:
def test_fib(n):
    a,b=0,1
    for i in range(n):
        yield a
        a,b=b,a+b

In [4]:
test_fib(10)

In [5]:
for i in test_fib(10):
    print(i)

0
1
1
2
3
5
8
13
21
34

In [9]:
def test_fib():
    a,b=0,1
    while True:
        yield a
        a,b=b,a+b

In [10]:
fib=test_fib()

In [11]:
for i in range(10):
    print(next(fib))

0
1
1
2
3
5
8
13
21
34

In [12]:
str = "manish"

In [13]:
for i in str:
    print(i)

m
a
n
i
s
h

In [14]:
str

'manish'

In [15]:
next(str)

TypeError: 'str' object is not an iterator

In [16]:
s=iter(str)

In [17]:
next(s)

'm'

In [18]:
next(s)

'a'

In [19]:
next(s)

'n'

In [20]:
next(s)

'i'

In [21]:
next(s)

's'

In [22]:
next(s)

'h'

In [25]:
def count_test(n):
    count=1
    while count<n:
        yield count
        count=count+1

In [26]:
c=count_test(5)

In [27]:
for i in c:
    print(i)

1
2
3
4

In [28]:
type(c)

generator

In [29]:
n=3
p=2

In [30]:
def test(n,p):
    return n**p

In [31]:
test(3,2)

9

In [32]:
a=lambda n,p:n**p

In [33]:
a(3,2)

9

In [34]:
add = lambda x,y:x+y

In [35]:
add(3,5)

8

In [36]:
c_to_f=lambda c:(9/5)*c+32

In [37]:
c_to_f(45)

113.0

In [38]:
finding_max=lambda x,y:x if x>y else y

In [39]:
finding_max(34,24)

34

In [40]:
str="manish"

In [43]:
find_len=lambda str:len(str)

In [44]:
find_len(str)

6

In [1]:
l=[1,2,3,4,5,6]

In [2]:
def test(l):
    l1=[]
    for i in l:
        l1.append(i**2)
    return l1

In [3]:
test(l)

[1, 4, 9, 16, 25, 36]

In [4]:
def sq(x):
    return x**2

In [5]:
list(map(sq , l))

[1, 4, 9, 16, 25, 36]

In [6]:
list(map(lambda x : x**2 , l))

[1, 4, 9, 16, 25, 36]

In [7]:
l1=[1,2,3,4,5]
l2=[5,6,4,7,8]

In [8]:
list(map(lambda x,y:x+y,l1,l2))

[6, 8, 7, 11, 13]

In [9]:
def add(a,b):
    return a+b

In [10]:
list(map(add,l1,l2))

[6, 8, 7, 11, 13]

In [11]:
str="pwskills"

In [12]:
list(map(lambda str:str.upper(),str))

['P', 'W', 'S', 'K', 'I', 'L', 'L', 'S']

In [13]:
from functools import reduce

In [14]:
l=[1,2,3,4,5,6,7,8]

In [15]:
reduce(lambda x,y:x+y,l)

36

In [16]:
reduce(lambda x,y:x+y,[1])

1

In [17]:
reduce(lambda x,y:x+y,l)

36

In [18]:
l

[1, 2, 3, 4, 5, 6, 7, 8]

In [21]:
reduce(lambda x,y:x if x>y else y,l)

8

In [22]:
l

[1, 2, 3, 4, 5, 6, 7, 8]

In [23]:
list(filter(lambda x:x%2==0,l))

[2, 4, 6, 8]

In [24]:
list(filter(lambda x:x%2!=0,l))

[1, 3, 5, 7]

In [25]:
l1 = [-3,4,5,6,-1,-5]


list(filter(lambda x : x<0 , l1 ))

[-3, -1, -5]

In [26]:
l2 = ["sudh"  , "pwskills" , "kumar" , "bengalore" , "krish"]

In [27]:
list(filter(lambda x:len(x)<6,l2))

['sudh', 'kumar', 'krish']

# OOPS

In [1]:
a=1

In [2]:
print(type(a))

<class 'int'>

In [3]:
print(type("manish"))

<class 'str'>

In [4]:
class test:
    pass

In [5]:
a=test()

In [6]:
type(a)

__main__.test

In [7]:
print(type(a))

<class '__main__.test'>

In [15]:
class pwskills:
    def welcome_message(self):
        print("welcome to skills")

In [16]:
manish=pwskills()

In [17]:
print(type(manish))

<class '__main__.pwskills'>

In [18]:
manish.welcome_message()

welcome to skills

In [28]:
class pwskills:
    
    def __init__(self,phone_no,email_id,student_id):
        
        self.phone_no=phone_no
        self.email_id=email_id        
        self.student_id=student_id
        
    def return_student_detail(self):
        return self.phone_no,self.email_id, self.student_id

In [29]:
manish=pwskills()

TypeError: __init__() missing 3 required positional arguments: 'phone_no', 'email_id', and 'student_id'

In [30]:
manish=pwskills(123242,"manish123@gmail.com",1233445)

In [34]:
print(manish.return_student_detail())

(123242, 'manish123@gmail.com', 1233445)

In [35]:
sakshi=pwskills(9560471061,"sakshi123@gmail.com",210058486)

In [36]:
sakshi.return_student_detail()

(9560471061, 'sakshi123@gmail.com', 210058486)

In [37]:
class pwskills2 :
    
    def __init__(self ,phone_number , email_id , student_id ):
        self.phone_number1 = phone_number
        self.email_id1 = email_id
        self.student_id1 = student_id
    
    def return_student_deetials(self) : 
        return self.student_id1 ,self.phone_number1 ,self.email_id1

In [38]:
sudh = pwskills2(999954355, "sudh@gmail.com" , 102)

In [39]:
sudh.phone_number1

999954355

In [40]:
sudh.return_student_deetials()

(102, 999954355, 'sudh@gmail.com')

In [41]:
class pwskills2 :
    
    def __init__(sudh ,phone_number , email_id , student_id ):
        sudh.phone_number1 = phone_number
        sudh.email_id1 = email_id
        sudh.student_id1 = student_id
    
    def return_student_deetials(sudh) : 
        return sudh.student_id1 ,sudh.phone_number1 ,sudh.email_id1

In [42]:
rohan = pwskills2(345365, "rohan@gmail.com" , 324)

In [43]:
rohan.phone_number1

345365

In [1]:
x = 10

y = 20

if x == 10:

    x = x + y

print(x)

30

In [2]:
def print_square(x):

    print(x * x)

print_square(10)

100

In [3]:
class Car:

    def __init__(self, color, model):

        self.color = color

        self.model = model

    

    def get_color(self):

        return self.color

 

my_car = Car("red", "sedan")

print(my_car.get_color())

red

In [4]:
my_dict = {"a": 1, "b": 2, "c": 3}

my_set = set(my_dict.keys())

my_set.add("d")

print(my_dict)

{'a': 1, 'b': 2, 'c': 3}

In [5]:
x = 10

if x < 20:

    print("x is less than 20")

else:

    print("x is greater than or equal to 20")

x is less than 20

In [6]:
What does the range() function do in a for loop?

Object `loop` not found.

In [8]:
i = 1

while i < 5:

    print(i)

    i = i + 1

1
2
3
4

In [9]:
x = [1, 2, 3, 4, 5]

for i in x:

  if i % 2 == 0:

    break

  print(i)

1

In [10]:
6.
What is the output of the following code?

x = True

y = False

if x and y:

  print("x and y are both true")

else:

  print("x and y are not both true")

Object `code` not found.
x and y are not both true

In [11]:
x = 10

y = 15

if x > y:

  print("x is greater than y")

elif x == y:

  print("x is equal to y")

else:

  print("x is less than y")

x is less than y

In [12]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for number in numbers:

    if number % 2 == 0:

        print(number)

    else:

        continue

2
4
6
8
10

In [14]:
def add_numbers(x, y):

    return x + y

result = add_numbers(3, 5)

print(result)

8

In [15]:
a = [1, 2, 3, 4, 5]

print(a[0:3])

[1, 2, 3]

In [16]:
def  test(a,b):
    return a+b

In [17]:
test(3,4)

7

In [18]:
test("subh","kumar")

'subhkumar'

In [21]:
class data_science:
    
    def syllabus(self):
        print("this is my syllabus for data science master")

In [22]:
class web_dev:
    
    def syllabus(self):
        print("this is my syllabus for web devlo")

In [23]:
def class_parcer(class_obj):
    for i in class_obj:
        i.syllabus()

In [24]:
data_science=data_science()

In [25]:
web_dev=web_dev()

In [26]:
class_obj=[data_science,web_dev]

In [27]:
class_parcer(class_obj)

this is my syllabus for data science
this is my syllabus for web devlo

In [50]:
class Human:

    def __init__(self, first_name, last_name, age):

            self.first_name = first_name

            self.last_name = last_name

            self.age = age

h001 = Human("Abhay", "Kashyap", 26)

In [52]:
h001.first_name

'Abhay'

In [53]:
h001

In [1]:
class test:
    def __init__(self,a,b):
        self.a=a
        self.b=b

In [2]:
t=test(23,24)

In [3]:
t.a=23434

In [4]:
t.a

23434

In [28]:
class car :
    def __init__(self , year , make , model, speed ) : 
        
        self.__year = year 
        self.__make = make
        self.__model = model
        self.__speed = 0
        
    def set_speed(self,speed) : 
        self.__speed = 0 if speed < 0 else speed
        
    def get_speed(self)  : 
        return self.__speed

In [29]:
c = car(2021 , "toyata" , "innova" , 12)

In [30]:
c._car__year

2021

In [33]:
c.set_speed(-3245)

In [34]:
c.get_speed()

0

In [35]:
c.set_speed(234)

In [36]:
c.get_speed()

234

In [38]:
class bank_account:
    def __init__(self,balance):
        self.__balance=balance
        
    def deposit(self,amount):
        self.__balance =self.__balance + amount
        
    def withdraw(self,amount):
        if self.__balance >= amount:
            self.__balance = self.__balance - amount
            return True
        else:
            return False
    
    def get_balance(self):
        return self.__balance

In [39]:
manish = bank_account(5000)

In [41]:
manish.get_balance()

5000

In [42]:
manish.deposit(5000)

In [43]:
manish.get_balance()

10000

In [44]:
manish.withdraw(2000)

True

In [45]:
manish.get_balance()

8000

In [58]:
class test:
    def test_math():
        return "This is my first class"

In [59]:
class child_test(test):
    pass

In [60]:
child_test_obj=child_test()

In [61]:
child_test.test_math()

'This is my first class'

In [8]:
class class1:
    
    def test_class1(self):
        print("this is my first class")

In [9]:
class class2(class1):
    
    def test_class2(self):
        print("this is my second class")

In [10]:
def class3 (class2):
    def test_class3(self) : 
        print("this is my class3 ")

In [16]:
obj_class3  = class3()

In [17]:
obj_class3.test_class2()

this is my class2

In [18]:
obj_class3.test_class1()

this is my class1

In [12]:
class class1 :
    def test_class1(self) : 
        print("this is my class1 " )

In [13]:
class class2(class1) : 
    def test_class2(self) : 
        print("this is my class2" )

In [14]:
class class3(class1,class2) : 
    def test_class3(self) : 
        print("this is my class3 ")

In [20]:
obj_class3  = class3()

In [21]:
obj_class3.test_class1()

this is my class1

In [22]:
obj_class3.test_class2()

this is my class2

# Abstract

In [42]:
import abc

class pwskills():
    
    @abc.abstractmethod
    def students_details(self):
        pass
    
    @abc.abstractmethod
    def student_assignment(self):
        pass
    
    @abc.abstractmethod
    def student_marks(self):
        pass

In [44]:
class students_details(pwskills):
    
    def students_details(self):
        return "this is a meth for taking students details"
    
    def student_assignemnt(self):
        return "this is a meth for assing details for a perticualt student"

In [43]:
class data_science_maters(pwskills):
    
    def students_detials(self):
        return "this will return a student details for data science masters "
    
    def student_assignemnt(self):
        return "this will give you a studnt assignment detaild for data science masters "

In [47]:
dsm = data_science_maters()
dsm.students_detials()

'this will return a student details for data science masters '

In [51]:
sd= students_details()
sd.students_detials()

'this is a meth for taking students details'

# Decorators

In [1]:
def test():
    print("this my function to test")

In [2]:
test()

this my function to test

In [3]:
def deco(func):
    def inner_dec():
        print("this is the star of my function")
        func()
        print("this is the end of my function")
    return inner_dec

In [7]:
@deco
def test1():
    print(7+6)

In [8]:
test1()

this is the star of my function
13
this is the end of my function

In [16]:
import time 

def timer_test(func):
    def timer_test_inner ():
        start = time.time()
        func()
        end = time.time()
        print(end -start)
    return timer_test_inner

In [17]:
@timer_test
def test2():
    print(123+54)

In [18]:
test2()

177
0.0009999275207519531

In [19]:
@timer_test
def test():
    for i in range(100000000):
        pass

In [20]:
test()

1.2739317417144775

# class method

In [5]:
class sharda():
    
    def __init__(self,name,course):
        self.name = name
        self.course = course
        
    def student_details(self):
        return (self.name,self .course)
s = sharda('manish','bsc dats science and analytics')

In [6]:
s.student_details()

('manish', 'bsc dats science and analytics')

In [9]:
s.name

'manish'

In [10]:
s.course

'bsc dats science and analytics'

In [14]:
class sharda():
    
    def __init__(self,name,course):
        self.name = name
        self.course = course
        
    @classmethod   
    def details(cls,name,course):
        return cls(name,course)
        
    def student_details(self):
        return (self.name,self .course)
s2 = sharda.details('manish','bsc dats science and analytics')

In [16]:
s2 .name

'manish'

In [17]:
class sharda():
    
    mobile_number = 9560471061
    
    def __init__(self,name,course):
        self.name = name
        self.course = course
        
    @classmethod   
    def details(cls,name,course):
        return cls(name,course)
        
    def student_details(self):
        return (self.name,self .course)

In [18]:
sharda.mobile_number

9560471061

In [29]:
class sharda():
    
    mobile_number = 9560471061
    
    def __init__(self,name,course):
        self.name = name
        self.course = course
    
    @classmethod
    def change_number(cls, mobile):
        sharda.mobile_number = mobile
        
    @classmethod   
    def details(cls,name,course):
        return cls(name,course)
        
    def student_details(self):
        return (self.name,self .course,sharda.mobile_number)

In [32]:
s3 = sharda.details('manish','bsc dats science and analytics')

In [33]:
sharda.change_number(8560471067)

In [34]:
sharda.mobile_number

8560471067

In [35]:
s3.student_details()

('manish', 'bsc dats science and analytics', 8560471067)

In [28]:
class sub():
    
    mobile_number = 9560471061
    
    def __init__(self,name,course):
        self.name = name
        self.course = course
    
    @classmethod
    def change_number(cls, mobile):
        sub.mobile_number = mobile
        
    @classmethod   
    def details(cls,name,course):
        return cls(name,course)
        
    def student_details(self):
        return (self.name,self .course,sharda.mobile_number)

In [29]:
def course_details(cls,course_name):
    print("course name is " , course_name)

In [30]:
sub.course_details = classmethod(course_details)

In [31]:
sub. course_details("data science and master")

course name is  data science and master

In [32]:
def mentor (cls,list_of_mentor):
    print(list_of_mentor)

In [33]:
sub.mentor = classmethod(mentor)

In [34]:
sub.mentor(["manish","jatin"])

['manish', 'jatin']

In [35]:
class pwskills4 : 
    
    mobile_num = 912342424
    
    def __init__(self , name , email) :
        
        self.name = name 
        self.email = email
    
    @classmethod
    def change_number(cls, mobile):
        pwskills4.mobile_num = mobile
    
    @classmethod
    def details(cls ,name, email ):
        return cls(name , email)
        
    def students_details(self):
        print(self.name , self.email,pwskills2.mobile_num)

In [36]:
del pwskills4.change_number

In [37]:
delattr(pwskills4,'details')

In [38]:
delattr(pwskills4,'students_details')

In [39]:
delattr(pwskills4,'mobile_num')

In [40]:
pwskills4.mro()

[__main__.pwskills4, object]

In [41]:
pwskills4.change_number(345345453)

AttributeError: type object 'pwskills4' has no attribute 'change_number'

# static Method

In [11]:
class pwskills:
    
    def student_details(self, name,mail_id, number):
        print(name,mail_id,number)

In [12]:
pw = pwskills()

In [13]:
pw.student_details('manish',"manish@gamil .com",945640745)

manish manish@gamil .com 945640745

In [22]:
class pwskills:
    
    def student_details(self, name,mail_id, number):
        print(name,mail_id,number)
        
        
    @staticmethod
    def mentor_class(list_mentor):
        print(list_mentor)
        
        
    def mentor(self , mentor_list):
        print(mentor_list)

In [23]:
pwskills.mentor_class(['manish','sakshi'])

['manish', 'sakshi']

In [24]:
stu1 = pwskills()

In [25]:
stu2 = pwskills()

In [26]:
stu3 = pwskills()

In [27]:
stu1.mentor(['manish','jatin'])

['manish', 'jatin']

In [36]:
class pwskills2:
    
    def student_details(self, name,mail_id, number):
        print(name,mail_id,number)
        
    @staticmethod
    def mentor_mail_id(maild_id_mentor) :
        print(maild_id_mentor)  
        
        
    @staticmethod
    def mentor_class(list_mentor):
        pwskills2.mentor_mail_id(["sudh@gmail.com" , "krish@gmail.com"])
        print(list_mentor)
        
    @classmethod
    def class_name(cls):
        cls.mentor_class(['Subh','krish'])
        
    def mentor(self , mentor_list):
        print(mentor_list)
        self.mentor_class(["krish" , "sudh"])

In [37]:
pwskills2.mentor_class(['Subh','krish'])

['sudh@gmail.com', 'krish@gmail.com']
['Subh', 'krish']

In [38]:
pwskills2.class_name()

['sudh@gmail.com', 'krish@gmail.com']
['Subh', 'krish']

In [39]:
pw = pwskills2()

In [40]:
pw.mentor(['krish','subh'])

['krish', 'subh']
['sudh@gmail.com', 'krish@gmail.com']
['krish', 'sudh']

# Special (Magic Dunder) Methods

In [43]:
dir(int)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [44]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [45]:
a = 100

In [46]:
a+ 5

105

In [47]:
a.__add__(5)

105

In [55]:
class pwskills:
    
    def __new__(cls):
        print("this is my new")
    
    def __init__(self):
        
        print("this is my init")
        self.mobile_number = 565445485

In [56]:
pw =pwskills()

this is my new

In [54]:
pw.mobile_number

565445485

In [61]:
class pwskills1:
    
    def __init__(self):
        
        
        self.mobile_number = 565445485
        
    def __str__(self):
        return 'this is my magic call in str '

In [62]:
pw =pwskills1()

In [63]:
pw

In [64]:
print(pw)

this is my magic call in str

In [65]:
def mk(x):

    def mk1():

        print("Decorated")

        x()

    return mk1

def mk2():

    print("Ordinary")

p = mk(mk2)

p()

Decorated
Ordinary

# Property Decorators Getters, Setters, And Deletes

In [90]:
class pwskills :
    
    def __init__(self , course_price , coruse_name):
        
        self.__course_price = course_price
        self.course_name = coruse_name
        
    @property
    def course_price_access(self) : 
        return self.__course_price
    
    @course_price_access.setter
    def course_price_set(self , price ):
        if price <= 3500:
            pass
        else :
            self.__course_price = price
            
    @course_price_access.deleter
    def delete_course_price(self) : 
        del self.__course_price

In [91]:
pw = pwskills(3500,"Mater of data science")

In [92]:
pw.course_name

'Mater of data science'

In [93]:
pw.course_price_access

3500

In [94]:
pw.course_price_set = 7800

In [95]:
pw.course_price_access

7800

In [96]:
pw._pwskills__course_price

7800

In [97]:
pw.course_name

'Mater of data science'

In [98]:
del pw.delete_course_price

In [99]:
pw.course_price_access

AttributeError: 'pwskills' object has no attribute '_pwskills__course_price'

In [2]:
import pandas as pd

def add_weekday_column(df):
    
    df['Date'] = pd.to_datetime(df['Date'])
    
    df['Weekday'] = df['Date'].dt.day_name()
    
    return df

df = pd.DataFrame({'Date':[ '2023-01-01','2023-01-02','2023-01-03'
                           ,'2023-01-04','2023-01-05']})
df = add_weekday_column(df)

df

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

In [2]:
def fact(n):
    factorial = 1
    
    while n > 0:
        factorial = factorial*n
        n = n -1
    return factorial
fact(5)

120

In [ ]:
# fibonaci series 

n=int(input("enter the number:"))
a=0
b=1
counter=0
while counter<n:
    print(a)
    c=a+b
    a=b
    b=c
    counter=counter+1

In [5]:
n = 10
a = 0
b = 1

for i in range(n):
    print(a)
    c = a+b
    a = b
    b = c

0
1
1
2
3
5
8
13
21
34

In [7]:
def gcd(a,b):
    
    if b == 0:
        return a
    else:
        return gcd(b,a % b)
    
n1 = 64
n2 = 48

print(gcd(n1,n2))

16

In [9]:
def gcd(a, b):
    """
    This function takes two integers as input and returns their GCD using the Euclidean algorithm.
    """
    if b == 0:
        return a
    else:
        return gcd(b, a % b)

# Example usage:
num1 = 64
num2 = 48
print("The GCD of", num1, "and", num2, "is", gcd(num1, num2))

The GCD of 64 and 48 is 16